@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
